@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
* {
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 10em;
    height: 8em;
}

.navtext .tel,
.title,
.motto,
#hero .slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navtext .title {
    font-family: "Inter-ExtraBold", "Inter", sans-serif;
    text-transform: uppercase;
    color: #1074e0;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 800;
}

.navtext .motto {
    font-family: "Alex Brush", cursive;
    text-transform: capitalize;
    color: #09b11f;
    font-size: 2em;
    line-height: 1em;
}

.navtext .tel {
    color: #1074e0;
    font-weight: bold;
}

#main fieldset {
    margin: auto;
    background-color: #effc30;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    margin-top: 3em;
    /* border: none; */
}

#main p {
    color: #000000;
    padding-top: 5px;
    text-transform: uppercase;
}

legend {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#main a {
    margin-bottom: 10px;
}

#main .inputext input {
    padding: 15px;
    margin: 10px 5px;
}


/* login.css */

.subset input[type="submit"] {
    background-color: blue;
    color: rgb(13, 1, 1);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.subset input[type="reset"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

body {
    background-image: url("/media/eliteclass.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
div.subset{
    background-color: #000000;
}
div.inputext{
    background-color: #000000;
}


